In [ ]:
#SEMANA 03
#GALARZA CAMARENA JHOSTIN JEFRY

In [1]:
#1.1 Listas
#Es una colección de elementos que puede ser ordenada, modificada, etc
#Se identifica por los corchetes
#ejemplo
aula=['Bernaola', 'Chipana', 'Gomez', 'Navarro']
print (aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [31]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Chipana
Gomez

In [35]:
# Puedo asignar un valor a una posición inicial
aula[1]='Chavez'
aula[1]

'Chavez'

In [37]:
# Mostramos como quedo la lista
aula

['Chipana', 'Chavez', 'Hermitaño', 'Navarro']

In [3]:
#PARA AGREGAR UN ELEMENTO UTILIZAMOS APPEND
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [5]:
#Para eliminar elementos utilizamos remove
aula.remove("Bernaola")
aula

['Chipana', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [7]:
#Si hubiera varios elementos de valores iguales se elimina la primera coincidencia aula.
aula.remove("Gomez")
aula

['Chipana', 'Navarro', 'Hermitaño', 'Gomez']

In [9]:
#Para obtener el tamaño utilizamos Len()
len(aula)

4

In [41]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chipana
Chavez
Hermitaño
Navarro

In [11]:
#Para invertir la lista utilizamos reverse()
#invertir No significa ordenar en forma descendente de la lista
aula.reverse() 
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chipana']

In [13]:
#Ordenar de una lista utilizamos sort()
aula.sort()
aula

['Chipana', 'Gomez', 'Hermitaño', 'Navarro']

In [43]:
# 1.2 tuplas
# es una colección de elementos ordenada (ordenada significa
# que tienen un índice) que no se pueden modificar. es inalterable
# NO se pueden agregar elementos ni eliminar
# se identifica por los parentesis
tupla_aula= ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [45]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [47]:
len(tupla_aula)

4

In [51]:
# 1.3 Conjuntos
# Es una coleccion de elementos que no esta ordenmado
# Signicfica(no tiene un indice)
conjunto_aula={'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [53]:
# Se puede recorrer utilizando una estructura repetitiva
# ejemplo for
for alumno in conjunto_aula:
    print(alumno)

Navarro
Bernaola
Chipana
Gomez

In [ ]:
#observación: no se puede acceder por posicion pues no considera
# indexación
# por ejemplo:
# conjunto_aula[2] devolvera un error

In [ ]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

In [ ]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

In [ ]:
# Para eliminar elementos utilizamos la función remove()

In [15]:
# 1.4. Diccionarios
# Es una colección de elementos, que estan indexados,
# no estan ordenados y se pueden modificar
# Son escritos entre llaves y estan formados por pares de elementos
# INDICE:VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos':'Gomez', '3':'Navarro', '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [17]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero
diccionario_aula['0']

'Palomino'

In [19]:
diccionario_aula[2]

'Bernaola'

In [21]:
diccionario_aula["1"]

'Chipana'

In [23]:
diccionario_aula["dos"]

'Gomez'

In [25]:
# Para añadir un par de elementos del dicccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [27]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar el elemento de índice dos.ejemplo: Para eliminar a 
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [29]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [33]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [39]:
# Para obtener el índice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [98]:
# 1.5. Ejercicio 
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA] 
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista 
# tiempo: 12 minutos
Apellidos= ['BERNAL', 'BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 
            'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']
Apellido= input ("Ingrese apellido: ").upper()
if Apellido in Apellidos:
    print("forma parte de la lista")

else:
    print("no pertenece a la lista")

Ingrese apellido:  bernal

forma parte de la lista